<div class='etw-shadow-lg etw-fixed etw-mr-4 etw-px-4 etw-pt-4 etw-pb-14 etw-bg-white etw-w-64 etw-mt-8 overflow-y-auto etw-h-screen'>
  <h3>Detail</h3>

  {{#if moduleStyle}}

    <div class="etw-my-8">
      {{etw/module-style-example moduleStyle=moduleStyle}}
    </div>

    <div class="etw-mt-4">
      <h4 class='etw-inline-block etw-pr-2'>Responsive: </h4>
      <div class="etw-mt-2 etw-text-sm etw-inline-block">
        {{#each (array 'all' 'sm' 'md' 'lg' 'xl') as |breakpoint|}}
          <a href='#'
            {{action (mut activeResponsiveClass) breakpoint}}
            class='
              etw-no-underline
              etw-text-black
              etw-pr-2
              {{if (eq activeResponsiveClass breakpoint) 'etw-opacity-100' 'etw-opacity-25'}}
            '
          >
            {{breakpoint}}
          </a>
        {{/each}}
      </div>
    </div>

    <div class="etw-mt-4">
      <h4 class='etw-inline-block etw-pr-2'>State: </h4>
      <div class="etw-mt-2 etw-text-sm etw-inline-block">
        {{#each (array 'none' 'hover' 'focus') as |state|}}
          <a href='#'
            {{action (mut activeState) state}}
            class='
              etw-no-underline
              etw-text-black
              etw-pr-2
              {{if (eq activeState state) 'etw-opacity-100' 'etw-opacity-25'}}
            '
          >
            {{state}}
          </a>
        {{/each}}
      </div>
    </div>

    <div class="etw-mt-8 etw-mb-4">
      <p class='etw-text-right etw-text-xs etw-opacity-50'>
        {{#if highlightedStyle}}
          Copied!
        {{else}}
          Click to copy
        {{/if}}
      </p>

      <ul class='etw-mt-3 etw-list-reset'>
        {{#each detailStyles as |style|}}
          <li class='etw-mt-4'>
            {{#copy-button class=(concat
                'etw-bg-grey-light etw-opacity-75 hover:etw-opacity-100 '
                'etw-px-1 etw-py-2 etw-w-full etw-text-left etw-transition '
                (if (eq highlightedStyle style) 'etw-bg-green etw-text-white'))
              clipboardText=style
              title='Copy'
              success=(action 'highlightStyle' style)}}
              <code>.{{style}}</code>
            {{/copy-button}}
          </li>
        {{/each}}
      </ul>
    </div>

  {{else}}

    <p class='etw-mt-4 etw-text-grey etw-italic'>Select a module for more detail.</p>

  {{/if}}

</div>
